


// Global style variables
// ------------------------------------------------------------------------------------


// font family - update these when external fonts are setup

$sans:   'Jigsaw', sans-serif;
$serif:  serif;


// font weights should be descriptive




// font sizes generally used on the html element and some mixins

$base_font_size: 16px;
$base_line_height: 1.5;


// Brand colours

$bitlox-white: #F3F3F2;
$bitlox-gray-light: #A6A6A7;
$bitlox-gray: #5B5B5A;
$bitlox-gray-dark: #3F3F40;
$bitlox-red: #860B0B;
$bitlox-red-dark: #5A1010;
$bitlox-green: #0B862E;
$bitlox-yellow: #93911B;
$bitlox-black: #171616;

$grey--light: $bitlox-gray-light;
$grey: $bitlox-gray;

$blue: $bitlox-red;
$yellow: $bitlox-yellow;
$dark-blue: $bitlox-red-dark;

$green: $bitlox-green;
$red: $bitlox-red;

$purple: $bitlox-red-dark;
$purple--light: $bitlox-red;
$purple--highlight: $bitlox-white;

$silver: $bitlox-white;


// Sometimes abstract terms are useful:

$foreground:          $bitlox-white;
$background:          $bitlox-black;

$focus_color:         #4fa1fd;
$alert_color:         #fd9833;
